body{
background-color: beige;
}
button {
    border: none;
    color: rgb(91,117,206);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 6px 4px;
    cursor: pointer;
  }
#div1{
    text-align: center;
}

#form1{
    position: absolute;
    bottom:0%;
}

.hid{
    visibility: hidden;
}

.show{
    visibility: show;
}

table, th, td {
    border:solid 3px rgb(71, 107,185); 
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: left;
    padding: 15px;
    table-layout: fixed;
}

th {
    background-color: rgb(91,117,206);
    color: beige;
}

label{
    color: rgb(71, 107,185);
}

